# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=rates_service_db
DB_HOST=db
DB_PORT=5432

# Service Configuration
GRPC_ADDRESS=:5001
LOG_LEVEL=info
SERVICE_NAME=rates-service
HEALTHCHECK_ENDPOINT=0.0.0.0:8080
GRINEX_PAIRS_JSON=/app/configs/pairs.json
GRINEX_API_URL=https://grinex.io/api/v1/

# Observability
OTLP_ENDPOINT=otel-collector:4317
